/* *{
    box-sizing: border-box;
    font-size: 0px; 
} 
.box{
    height: 400px; 
} */
.box1 {
    display: fixed;
    background-color: rgb(35, 56, 150);
    height: 800px;
    width: 800px;
}
.box2 {
    width: 810px;
    height: 150px;
    left: 5px;
    right: 0px;
    top: 300px;
    bottom: 300px;
    /* left: 425px; */
    position: fixed; 
    /* display: inline-block; */
    background-color:rgb(231, 180, 12);
}
.box3{
    width: 150px;
    height: 250px;
    left: 14px;
    right: 175px;
    top: 150px;
    bottom: 300px;
    position: fixed;
    /* display: inline-block; */
    background-color: rgb(231, 180, 12));
}