.wrapper {
    /* background-color: lightseagreen; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr) ; */
    grid-auto-rows: 200px;
    /* height: 500px; */
    /* width: 500px; */
    grid-gap: 10px;
    grid-template-areas: 
    a a a a 
    b b c c
    b b d d
    b b e e
    f f f f
    g g g g
    h h h h
    i i i i;
    /* grid-column-gap: 1em; */
    /* grid-row-gap: 1em; */
    /* grid-gap: 1em; */
    /* grid-auto-rows: minmax(3, 100px); */
}
/* .wrapper > div { */
    /* background: #eee; */
    /* padding: 1em; */
/* } */

/* .wrapper > div:nth-child(odd){ */
    /* background: sienna; */
/* } */
.onlinecourse {
    grid-area: a;
    align-self: center;
    justify-self: center;
}
.logo {
    grid-area: b;
/* block axis alignment in grid */
    align-self: start;
/* line axis alignment in grid */
    justify-self: start;
    height: 75px;
    width: 75px;
}
.brandtext {
    grid-area: c;
    align-self: center;
    justify-self: center;
    color: purple;
}
.brandtext2 {
    grid-area: d;
}
.tagline {
    grid-area: e;
}
.navbar {
    grid-area: f;
}
.mainimage {
    grid-area: g;
    align-self: start;
    justify-self: start;
    height: 50px;
    width: 50px;
}
.claritycall {
    grid-area: h;
}
.learnmore {
    grid-area: i;
}
.quote {
    grid-area: j;
}
.letsconnect {
    grid-area: k;
}
.blog {
    grid-area: l;
}
.email {
    grid-area: m;
}