@import url('"https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i,700,700i,900i&display=swap');
*, *::before, *::after {box-sizing: border-box; padding: 0; margin: 0;}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight:  500;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    /* list-style-type: ; */
}

.onlinecourse {
    /* align-items: center; */
    /* align-self: center; */
    background-color:rgb(209, 136, 113);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat" sans-serif;
    font-size: 12px;
    font-weight: 300px;
    /* grid-area: onlinecourse; */
    /* grid-column: onlinecourse-start / onlinecourse-end ; */
    /* grid-row: 1, -1; */
    /* grid-row-end: oninecourse-end; */
    height: 40px;
    /* justify-content: stretch; */
    /* justify-self: stretch; */
    letter-spacing: 6px;
    margin: 5px;
    padding: 12px;
    position: relative;
    text-align: center;
    text-transform: Uppercase;
    width: 100%;
    background-color: rgb(209, 136, 113);
}
header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 22px;
    font-weight: 200px;
    flex-direction: column;

}
.limage {
    display: flex;
    width: 100%;
    /* background-color: rgba(177, 143, 84, .2); */


}
.logoimage {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 175px;
    height: 175px;
    /* background-color: rgba(177, 143, 84, .2); */
}

.companyname {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* background-color: rgba(177, 143, 84, .2); */
}
h1 {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-top: 2px;
    font-family: "Monserrat" sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(177, 143, 84);
}
h2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 2px;
    font-family: "Montserrat" sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(177, 143, 84, .6);
}
.ici {
    display: inline;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    /* width: 100%; */
    padding: 2px;

}
nav {
    background-color: #caae5f;
    width: 100%;
}
ul {
    /* display: flex; */
    padding-right: 140px;
    width: 100%;
    justify-content: center;
    /* background-color: rgba(238, 159, 24, 0.2); */

}
.navlinks {
    display: flex;
    list-style: none;
    padding: 0px;
    color: #fff;
    width: 100%;
}
.navlinks li {
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;

}
.navlinks li a {
    transition: alt 0.3s ease 0s;
}
.navlinks li a:hover {
    color:whitesmoke;
}
button {
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: alt 0.3s ease 0s;
}
button:hover {
    background-color: white;
}
.welcomehome{
    background-image: url(../images/homeimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 200px 100px;
    margin: 0px;
}
.welcomehome p {
    color: whitesmoke;
    font-size: 62px;
    font-family: "bodoni" sans-serif;
    font-weight: 400px;
    text-indent: center;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}
.welcomehome h3 {
    display: flex;
    font-family: "bodoni" sans-serif;
    font-weight: 200px;
    align-items: center;
    font-size: 22px;
    margin-left: 125px;
    margin-top: 2px;
    font-family: "Montserrat" sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: whitesmoke;
}
/* .claritycall {
    grid-area: claritycall;
}
.learnmore {
    grid-area: learnmore;
}
.quote {
    grid-area: quote;
}
.letsconnect {
    grid-area: letsconnect;
}
.blog {
    grid-area: blog;
}
.email {
    grid-area: email;
} */

