body{
    background-color: #111111;
}
h1{
    color: #E2E80F;
    text-align: center;
    font-size: 40px;
}
p{
    color: #eeeeee;
    font-size: 16px;
    padding: 6px;
}
.credits{
    color: blue;
    text-decoration: underline;

}
#film-description{
    font-style: italic;
    cursor: pointer;
}
